.taskListItem {
   margin-top: 8px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border: 1px solid;
   border-radius: 4px;
}

.delete {
   color: red;
   font-size: 30px;
}